<!DOCTYPE html>
<div class="homePageContainer">
  <div class="headercolor">
    <nav>
      <ul>
        <li ng-repeat="(id, list) in homeList" ng-click="listClick(id)">
          <a href="">{{list.name}}</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="my_camera_container">
    <div class="camera_wrap camera_magenta_skin" id="camera_wrap_2">
          <div data-thumb="images/photos/thumbs/bridge.jpg" data-src="images/photos/_dsc2151.jpg"
               data-portrat="true"
          ></div>
          <div data-thumb="images/photos/thumbs/bridge.jpg" data-src="images/photos/_dsc0625.jpg"
               data-portrat="true"
          ></div>
          <div data-thumb="images/photos/thumbs/bridge.jpg" data-src="images/photos/_dsc5666.jpg"
                data-portrat="true"
          ></div>
          <div data-thumb="images/photos/thumbs/bridge.jpg" data-src="images/photos/_dsc4573.jpg"
                data-portrat="true"
          ></div>
          <div data-thumb="images/photos/thumbs/bridge.jpg" data-src="images/photos/_dsc2414.jpg"
                data-portrat="true"
          ></div>
          <div data-thumb="images/photos/thumbs/bridge.jpg" data-src="images/photos/_dsc4095.jpg"
                data-portrat="true"
          ></div>
          <div data-thumb="images/photos/thumbs/bridge.jpg" data-src="images/photos/_dsc8735.jpg"
                data-portrat="true"
          ></div>
      </div>
  </div>
</div>